name: CI-Tests

on: 
  workflow_dispatch:
  workflow_call:
  pull_request:

env:
  REGISTRY: ghcr.io
  # github.repository as nevillegrech/gigahorse-toolchain
  IMAGE_NAME: ${{ github.repository }}


jobs:
  test_souffle23:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      checks: write
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.7"

      - name: Install pytest
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Install Souffle
        run: |
          sudo wget https://souffle-lang.github.io/ppa/souffle-key.public -O /usr/share/keyrings/souffle-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/souffle-archive-keyring.gpg] https://souffle-lang.github.io/ppa/ubuntu/ stable main" | sudo tee /etc/apt/sources.list.d/souffle.list
          sudo apt update && sudo apt install souffle=2.3

      - name: Test Souffle
        run: souffle --version

      - name: Install Boost
        run: sudo apt install libboost-all-dev

      - name: Build Souffle addon
        run: cd $GITHUB_WORKSPACE/souffle-addon && make && cd $GITHUB_WORKSPACE

      - name: Run gigahorse help
        run: ./gigahorse.py --help

      - name: Run gigahorse example
        run: ./gigahorse.py examples/long_running.hex -i --disable_inline

      - name: Run tests
        run: pytest -v test_gigahorse.py --junitxml=test-results.xml

      - name: Upload pytest test results
        uses: actions/upload-artifact@v3
        with:
          name: pytest-results
          path: test-results.xml
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: test-results.xml

  test_souffle24:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      checks: write
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.7"

      - name: Install pytest
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Install Souffle
        run: |
          sudo wget https://souffle-lang.github.io/ppa/souffle-key.public -O /usr/share/keyrings/souffle-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/souffle-archive-keyring.gpg] https://souffle-lang.github.io/ppa/ubuntu/ stable main" | sudo tee /etc/apt/sources.list.d/souffle.list
          sudo apt update && sudo apt install souffle=2.4

      - name: Test Souffle
        run: souffle --version

      - name: Install Boost
        run: sudo apt install libboost-all-dev

      - name: Build Souffle addon
        run: cd $GITHUB_WORKSPACE/souffle-addon && make && cd $GITHUB_WORKSPACE

      - name: Run gigahorse help
        run: ./gigahorse.py --help

      - name: Run gigahorse example
        run: ./gigahorse.py examples/long_running.hex -i --disable_inline

      - name: Run tests
        run: pytest -v test_gigahorse.py --junitxml=test-results.xml

      - name: Upload pytest test results
        uses: actions/upload-artifact@v3
        with:
          name: pytest-results
          path: test-results.xml
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: test-results.xml
